
/* Responsividade */

@media (max-width: 1189px) {
    .instagram-wrapper {
        width: 80%;
    }
} 

@media (max-width: 850px) {
    .body {
        background-color: var(--login-box-color);
    }

    .instagram-wrapper {
        width: 50%;
    }

    .instagram-phone {
        display: none;
    }

    .instagram-continue {
        width: 100%;
    }
    
}

@media (max-width: 450px) {
    .group {
        border: 1px solid transparent;
    }
}